body {
    font-family: sans-serif;
    margin: 11px;
    
    background-color: #f4f4f4;
    color: #535353;
    display: flex;
    flex-direction: row;
}

main {
    margin-left: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    height: 300px;
}
header a{
    color: #aaaaaa;
    text-decoration: none;
}
header button{
    border: 1px solid #333;
    flex-direction: column;
    margin-left: 2px;
    height: 30px;
    width: 100px;
}
@media (max-width: 900px) {
body {
    font-family: sans-serif;
    margin: 11px;
    
    background-color: #f4f4f4;
    color: #535353;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 2%;
    height: auto;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;    
}
header a{
    color: #aaaaaa;
    text-decoration: none;
}
header button{
    width: 24vw;
}
#SNS_id{
    margin-top: 20px;
    position: absolute;
}

#banners {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-top: 20px;
}
}
/*　フォント　*/
h1 {display: none;}
h2 {margin-bottom: 0px;}
h3 {margin-bottom: 0px;}

#directory p {
 line-height: 0px;
}
#SNS p {
 line-height: 10px;
}
#SNS a {
    margin: 3px;
}
code {font-size: 14px;color: #ffffff; background-color: #575757;}
#banners {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
#banners img {
width: 200px;
}
#SNS{
    display: flex;
}
.SNS{
    display: flex;
    flex-direction: column;
}
